footer img {
  height: 200px;
  width: auto;
  padding: 30px;
}

footer {
  padding-top: 5%;
}

.gradient {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(94, 128, 255, 1) 100%
  );
}
.carousel img {
  object-position: center;
  overflow: hidden;
  height: 100vh;
}
.carousel-text {
  color: #4286ed;
}
.icons {
  background-color: white;
}
.socials {
  color: white;
}
.ilink {
  color: black;
}
.carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  background-image: url(img/heart.svg);
  background-repeat: no-repeat;
}
.carousel-indicators.active [data-bs-target]{
  background-image: url(img/heart-fill.svg);
  background-repeat: no-repeat;
}

.mt- {
  margin-top: 130px;
}
.click{
  