html {
  font-size: 1em;
}

/* Main Carousel Styles */
#mainCarousel.carousel img.main-carousel {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

#mainCarousel .carousel-indicators [data-bs-target] {
  background-image: url(icons/heart.svg);
}

#mainCarousel .carousel-indicators>button.active {
  background-image: url(icons/heart-fill.svg);
}

#mainCarousel .carousel-indicators>button:hover {
  background-image: url(icons/heart-fill.svg);
}

#mainCarousel .carousel-indicators>button.active,
#mainCarousel .carousel-indicators [data-bs-target] {
  height: 2em;
  width: 2em;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #527aad;
  filter: invert(42%) sepia(97%) saturate(492%) hue-rotate(180deg) brightness(96%) contrast(92%);
}

#mainCarousel .carousel-item>img.main-carousel {
  filter: brightness(75%) blur(0.2rem);
  transform: scale(1.1);
}

#mainCarousel .carousel-inner {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#mainCarousel .carousel-caption {
  margin-top: 35vh;
}

/* Parallax styles */
.parallax1 {
  background-image: url(img/braden.jpg);
  min-height: 40rem;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.braden {
  background-color: grey;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
}

/* logo styles */
.white-logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(293deg) brightness(102%) contrast(101%);
}

.white-logo:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(293deg) brightness(102%) contrast(101%) brightness(75%);
}

.blue-logo {
  filter: brightness(0) saturate(100%) invert(46%) sepia(44%) saturate(463%) hue-rotate(173deg) brightness(92%) contrast(96%);
}

/* Navbar styles  */
a.nav-link {
  font-size: 1.1rem;
  white-space: nowrap;
}

.navbar-collapse {
  margin-top: 2.563rem;
}

.navbar-toggler {
  margin-top: 3.75rem;
}

.nav-link.active,
.nav-link:hover,
.dropdown-item:hover,
.dropdown-item.active {
  text-decoration: underline;
  text-decoration-color: #527aad;
  text-underline-offset: 3px;
  color: white;
}

.dropdown-item.active,
.dropdown-item:hover {
  text-decoration-thickness: 2px;
  background-color: #314968;
}

.navbar-bg-hover:hover,
.nav-link.active {
  background-color: #314968;
  text-decoration-thickness: 4px;
  transition: background-color ease-in-out 0.4s;
}

.absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav {
  transition: all 0.35s ease-in-out;
}

@media (max-width: 1199px) {
  .toggler-bg {
    background-color: #97afce !important;
    transition: all 0.35s ease-in-out;
  }

  .navbar-collapse {
    margin-top: 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* gallery carousel styles */
#galleryCarousel {
  height: 85vh;
  overflow: hidden;
}

#galleryCarousel .carousel-item img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height: 85vh;
}

#modalGallery .modal-header,
#modalGallery .modal-footer {
  height: 5vh;
  overflow: hidden;
}

.zoom {
  transition: transform 0.2s ease-in-out;
}

.flex-1 {
  flex: 1;
}

.vh-85 {
  height: 85vh;
}

/* icons styles */

.fas.help-icons {
  border-radius: 100%;
  background-color: lightgray;
  padding: 1.25rem;
}

.lightboxhover:hover {
  color: #fff;
}

.pfp {
  height: 2em;
}

/* misc */

.hero {
  position: relative;
  filter: brightness(40%);
  background-image: url(img/NewDreamCenter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.hero-header {
  z-index: 1;
  top: 35%;
  font-size: vh;
}

@media (min-width: 1200px) {
  .hero-header {
    font-size: 10vh;
  }
}

@media (min-width: 992px) {
  .hero-header {
    font-size: 8vh;
  }
}

@media (min-width: 768px) {
  .hero-header {
    font-size: 6vh;
  }
}

@media (min-width: 576px) {
  .hero-header {
    font-size: 4vh;
  }
}

#myBtn {
  display: none;
  z-index: 99;
}

/* colors */

a,
a:hover {
  color: inherit;
}

.text-white>.footer-text a:hover {
  filter: brightness(75%);
}

/* Waves styles */
/* Code via @GoodKatz (https://codepen.io/goodkatz/pen/LYPGxQz) */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.bg-waves {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.bg-braden {
  background-image: url(img/braden.jpg);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.multi-item-img {
  filter: brightness(45%);
}