footer img {
    height: 200px; width: 100%;
    padding: 30px;
    margin-top: 10px;
}

footer {
    padding-top: 5%;
}

.gradient {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(94,128,255,1) 100%);
}
.carousel img {
    object-position: center;
    overflow: hidden;
    height: 100vh;
}
.carousel-text {
    color: cyan;

}
.icons
